.flex{
    display: flex;
    justify-content: center;
    gap: 1.5em;
    flex-wrap: wrap;
}
.wrapper{
    text-align: center;
    max-width: 1000px;
    min-width: 400px;
    width: 95%;
    margin: auto;
}

.hero{
    border: 1px solid black;
    border-radius: 5px; 
    padding: 10px;
    width: 300px;
}